<div class="delete">
    <div class="delete-block">
        <div class="delete-block-row-1">
            <i class="fa-solid fa-skull-crossbones delete-block-row-1-icone"></i>
            <span class="delete-block-row-1-span">Attention</span>
        </div>
        <div class="delete-block-row-2">
            <span class="delete-block-row-2-span">Vous allez complètement supprimer votre article.</span>
            <span class="delete-block-row-2-span">Confirmez-vous ce choix ?</span>
        </div>
        <div class="delete-block-row-3">
            <button (click)="onConfirmDeletePost()" class="btn btn-outline-danger">Supprimer</button>
            <button (click)="onHiddeDeletePostConfirmation()" class="btn btn-outline-success">Conserver</button>
        </div>
    </div>
</div>