<div class="container mt-3">
    <div class="row">
        <div class="col-8 offset-2 shadow-lg border rounded my-5 p-5">
            <img src="../../assets/images/FireShot Capture 040 - Modifier une image - ResizePixel - www.resizepixel.com.png" alt="Logo Groupomania en couleur" class="auth-logo-login m-0 w-100">
            <div *ngIf="validationMessage === '' || !validationMessage else validation" class="mt-5 container-fluid">
                <div class="row">
                    <div class="col">
                        <h1>Changez votre mot de passe</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="container-fluid">
                            <form #f="ngForm" (ngSubmit)="onSubmitForm(f)">
                                <div class="row justify-content-center mt-5">
                                    <div class="col-6">
                                        <label class="form-label" for="password">Nouveau mot de passe</label>
                                        <input [ngClass]="{'is-invalid': (password.invalid && password.touched) || (password.invalid && f.submitted), 'is-valid': password.valid}" class="form-control" id="password" type="password" name="password" #password="ngModel" ngModel required minlength="6" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*\W|_).+$">
                                        <span *ngIf="password.invalid && password.touched && password.value !== ''" class="invalid-feedback">Veuillez renseigner un mot de passe valide (6 caractères minimum, 1 majuscule, 1 nombre et 1 caractère spécial)</span>
                                        <span *ngIf="(password.invalid && password.touched && password.value ==='') || (password.invalid && f.submitted && password.value ==='')" class="invalid-feedback">Veuillez renseigner un mot de passe</span>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label" for="confirmation">Confirmation du mot de passe</label>
                                        <input [ngClass]="{'is-invalid': (confirmation.invalid && confirmation.touched) || (confirmation.invalid && f.submitted), 'is-valid': confirmation.valid}" class="form-control" id="confirmation" type="password" name="confirmation" #confirmation="ngModel" ngModel required minlength="6" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*\W|_).+$">
                                        <span *ngIf="confirmation.invalid && confirmation.touched && confirmation.value !== ''" class="invalid-feedback">Veuillez renseigner un mot de passe valide (6 caractères minimum, 1 majuscule, 1 nombre et 1 caractère spécial)</span>
                                        <span *ngIf="(confirmation.invalid && confirmation.touched && confirmation.value ==='') || (confirmation.invalid && f.submitted && confirmation.value ==='')" class="invalid-feedback">Veuillez renseigner un mot de passe</span>
                                    </div>
                                    <div *ngIf="errorMessage" class="row justify-content-center mt-3">
                                        <div class="col-6">
                                            <div *ngIf="errorMessage" class="alert alert-danger m-0">
                                                {{errorMessage}}
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col text-center">
                                            <button class="btn btn-outline-success">Modifier le mot de passe</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #validation>
                <div class="container-fluid mt-5">
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-success m-0 text-center">
                                {{validationMessage}}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <h1 class="m-0">Direction la page de connexion ?</h1>
                    </div>
                    <div class="row mt-5">
                        <a routerLink="../../login" class="btn btn-outline-primary">Connexion</a>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>