<div class="container mt-5">
    <div class="row">
        <div class="col">
            <form #f="ngForm" (ngSubmit)="onSubmitForm(f)">
                <div class="row justify-content-center">
                    <div class="col-3">
                        <label class="form-label" for="password">Nouveau mot de passe</label>
                        <input [ngClass]="{'is-invalid': (password.invalid && password.touched) || (password.invalid && f.submitted), 'is-valid': password.valid}" class="form-control" id="password" type="password" name="password" #password="ngModel" ngModel required minlength="6" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*\W|_).+$">
                        <span *ngIf="password.invalid && password.touched && password.value !== ''" class="invalid-feedback">Veuillez renseigner un mot de passe valide (6 caractères minimum, 1 majuscule, 1 nombre et 1 caractère spécial)</span>
                        <span *ngIf="(password.invalid && password.touched && password.value ==='') || (password.invalid && f.submitted && password.value ==='')" class="invalid-feedback">Veuillez renseigner un mot de passe</span>
                    </div>
                    <div class="col-3">
                        <label class="form-label" for="confirmation">Confirmation du mot de passe</label>
                        <input [ngClass]="{'is-invalid': (confirmation.invalid && confirmation.touched) || (confirmation.invalid && f.submitted), 'is-valid': confirmation.valid}" class="form-control" id="confirmation" type="password" name="confirmation" #confirmation="ngModel" ngModel required minlength="6" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*\W|_).+$">
                        <span *ngIf="confirmation.invalid && confirmation.touched && confirmation.value !== ''" class="invalid-feedback">Veuillez renseigner un mot de passe valide (6 caractères minimum, 1 majuscule, 1 nombre et 1 caractère spécial)</span>
                        <span *ngIf="(confirmation.invalid && confirmation.touched && confirmation.value ==='') || (confirmation.invalid && f.submitted && confirmation.value ==='')" class="invalid-feedback">Veuillez renseigner un mot de passe</span>
                    </div>
                    <div *ngIf="errorMessage || validationMessage" class="row justify-content-center mt-5">
                        <div class="col-6">
                            <div *ngIf="errorMessage && !validationMessage" class="alert alert-danger text-center m-0">
                                {{errorMessage}}
                            </div>
                            <div *ngIf="validationMessage" class="alert alert-success text-center m-0">
                                {{validationMessage}}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col text-center">
                            <button class="btn btn-outline-success">Modifier le mot de passe</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>