<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3 shadow-lg border rounded my-5 p-5">
            <img src="../../assets/images/FireShot Capture 040 - Modifier une image - ResizePixel - www.resizepixel.com.png" alt="Logo Groupomania en couleur" class="auth-logo-login mt-4 mb-4 w-100">
            <h1 class="m-0">Mot de passe oublié ?</h1>
            <div class="mt-4">
                Saisissez l'adresse mail associée à votre compte <span>Groupomania</span>.<br>
                Nous allons envoyer à cette adresse un lien vous permettant de réinitialiser facilement votre mot de passe.
            </div>
            <form *ngIf="!successMessage else confirmAlert" class="mt-4" #f="ngForm" (ngSubmit)="onSubmitForm(f)">
                <div>
                    <label class="form-label" for="email">Email</label>
                    <input [ngClass]="{'is-valid': email.valid, 'is-invalid': (email.invalid && email.touched) || (email.invalid && f.submitted)}" class="form-control" type="email" name="email" ngModel #email="ngModel" required email>
                    <div *ngIf="(email.invalid && email.touched && email.value === '') || (email.invalid && f.submitted && email.value === '')" class="invalid-feedback">Veuillez renseigner un email.</div>
                    <div *ngIf="(email.invalid && email.touched  && email.value !== '') || (email.invalid && f.submitted && email.value !== '')" class="invalid-feedback">Veuillez renseigner un email valide.</div>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-outline-primary w-100">Valider</button>
                </div>
            </form>
            <ng-template #confirmAlert>
                <div class="alert alert-success mt-4">
                    Un email pour modifier le mot de passe du compte associé à l'adresse {{email}} a été envoyé !
                </div>
            </ng-template>
            <div class="mt-4 text-center">
                <a routerLink="../login" class="link">Retour à la connexion</a>
            </div>
        </div>
    </div>
</div>