<div class="container" #container>
    <div class="row list" #list>
        <app-posts-list></app-posts-list>
    </div>
    <div class="row form">
        <div class="col-lg-8 offset-lg-2 col-12 form-col">
            <div *ngIf="postDeleteMessage$ | async as deleteMessage" class="form-message">
                <div class="form-message-delete">
                    {{deleteMessage}}
                </div>
            </div>
            <div *ngIf="postUpdateMessage$ | async as updateMessage" class="form-message">
                <div class="form-message-update">
                    {{updateMessage}}
                </div>
            </div>
            <app-post-form class="p-0"></app-post-form>
        </div>
    </div>
</div>